* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ffffff;
}
header {
  height: 3.75rem;
  background-color: #6454af;
  background-size: 100% 100%;
}
header h1 {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  line-height: 3.75rem;
}
.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.375rem 0.375rem 0;
}
.mainbox .column {
  flex: 3;
}
.mainbox .column:nth-child(2) {
  flex: 5;
  margin: 0 1rem 0.375rem;
}
.mainbox .panel {
  position: relative;
  height: 15rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(81, 25, 186, 0.17);
  margin-bottom: 0.375rem;
  background: url(../images/line.png) rgba(255, 255, 255, 0.03);
}
.mainbox .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #4c01a1;
  border-left: 2px solid #4c01a1;
  content: "";
}
.mainbox .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #4c01a1;
  border-right: 2px solid #4c01a1;
  content: "";
}
.mainbox .panel .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .panel .panel-footer::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #4c01a1;
  border-left: 2px solid #4c01a1;
  content: "";
}
.mainbox .panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #4c01a1;
  border-right: 2px solid #4c01a1;
  content: "";
}
.mainbox .panel h2 {
  height: 1.5rem;
  color: mediumpurple line-hight 1.5rem;
  text-align: center;
  font-size: 0.3rem;
}
.mainbox .panel .chart {
  height: 14.5rem;
}
.mainbox .search {
  margin-bottom: 0.375rem;
  padding: 0.1875rem;
  height: 6rem;
}
.mainbox .search #search {
  width: 25rem;
  height: 1.8rem;
  border: none;
  /*取消默认的边框以设置自定义边框*/
  outline: none;
  /*取消浏览器默认的蓝光边框以设置自定义的输入框*/
  font-size: 1.2rem;
  color: #707070;
  margin-left: 10px;
  margin-top: 0.25rem;
}
.mainbox .search .searchbar {
  /*目的是设置自定义边框，比如圆角与阴影*/
  border: #dadada solid 1px;
  border-radius: 6em;
  width: 30rem;
  height: 2.5rem;
  box-shadow: 0px 0px 5px #d4d4d4;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.mainbox .search .mg {
  height: 1.5rem;
  margin-left: 0.8rem;
  margin-top: 0.25rem;
}
.mainbox .search #search,
.mainbox .search .mg {
  vertical-align: middle;
}
.mainbox .clas {
  position: relative;
  height: 35rem;
  border: 1px solid rgba(81, 25, 186, 0.17);
}
.mainbox .clas .chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
